h1 {
    color: red;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 2em;
}

h2 {
    text-decoration: underline;
    padding-left: 1vw;
}

p {
    padding-left: 2.5vw;
}

#img_logo img {
    width: 150px;
    float: left;
}